@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body{
    font-family: 'Roboto', sans-serif;
}
.input-url{
    width: 70%;
    height: 40px;
    padding: 3px 13px;
    font-size: 15px;
}
.fetch-btn{
    width: 100px;
    height: 50px;
    font-size: 15px;
    margin: 0px 10px;
}
.url-input-cont{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0px;
}
.question-frame{
    width: 1000px;
    height: 1000px;
}
.ide-input-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.input-container{
    width: 390px;
}
.overlay{
    width: 70%;
}
.test-input{
    height: 100px;
    width: 350px;
    padding: 10px 10px;
    font-size: 15px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.test-input-div{
    margin: 5px 10px;
    padding: 10px 5px;
}
.lang-dropdown{
    padding: 10px 15px;
    font-size: 16px;
}
.submitbtn-div{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.submit-btn{
    padding: 12px 40px;
    border-radius: 3px;
    color: white;
    background: black;
}
.output-msg{
    display: flex;
    align-items: center;
    justify-content: space-between;
}