.web-container{
    height: 100vh;
    display: flex;
}
.left-cont{
    width: 750px;
    margin: 10px 10px;
}
.pane{
    /* height: 200px; */
    width: 50%;
    background-color: white;
    margin: 10px 10px;
}
.ide-cont{
    padding: 6px 6px;
    height: 33%;
    background: #8080D7;
    margin: 5px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
}
.pane-heading{
    
    background: #010233;
    text-align: center;
    padding: 10px;

}
.dev-output{
    height: 90%;
}
